* {
	box-sizing: border-box;
	font-weight: 300;
	transition: all 0.2s ease;
}
body {
	margin: 0;
	padding: 0;
	background: #eee; color: #222;
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
div,header {
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.6em;
}
p {
	margin: 15px 0px;
}
p + p {
	margin-top: 0px;
}

button {
	width: fit-content;
	padding: 10px 25px;
	border: 1px solid rgba(2,136,209,0.5);
	background: #039be5; color: #fff;
	font-size: 1em;
	cursor: pointer;
}
button:hover {
	background: rgb(2,136,209);
}
button.secondary {
	border: 0px;
	background: transparent; color: #222;
}
button.secondary:hover {
	background: #00000008;
}
button[disabled],button.disabled {
	cursor: default;
	opacity: 0.5;
}
input[type=text],input[type=number] {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #ddd;
	font-size: 0.9em;
}
input[type=radio] {
	margin: 5px;
}
input:focus,button:focus,select:focus {
	outline: 0;
}
select {
	font-size: 0.9em;
}

#root {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
#container {
	align-items: center;
	position: relative;
	width: 768px; max-width: 100%;
	background: #fff;
}

header {

}

#menu {
	width: 100%;
	padding: 0px 0px 20px;
	border-top: 1px solid #ddd;
}

#menu .error {
	align-items: center;
}
#menu .waiting {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#menu .waiting p {
	margin-left: 10px;
}

#menu .item {
	margin: 0px 20px 20px;
}
#menu .item + .item {
	border-top: 1px solid #eee;
}
#menu .item:last-child {
	margin-bottom: 0px;
}
#menu .item h3 {
	margin: 0.5em 0px 0.5em;
}
#menu .item .description {
	position: relative;
	height: 0px; width: 100%;
	padding-top: 56%;
	background-size: cover;
	background-position: center 60%;
	overflow: hidden;
}
#menu .item .description p {
	position: absolute; bottom: -1px;
	margin: 0px; padding: 10px;
	border-top-right-radius: 10px;
	backdrop-filter: blur(5px);
	color: #fff;
	font-weight: 400;
	text-shadow:
		 1px  1px 1px #0008,
		 1px -1px 1px #0008,
		-1px  1px 1px #0008,
		-1px -1px 1px #0008
	;
}
#menu .item .cost {
	font-size: 24px;
}
#menu .item .add_to_cart {
	flex-direction: row;
}
#menu .item .add_to_cart button:first-child {
	width: 220px;
}
#menu .item .add_to_cart button.fake {
	border-color: #ddd; border-right: 0px;
	background: #fff; color: #222;
}
#menu .item .add_to_cart input {
	width: 80px;
	padding-left: 25px;
	border-left: 0px; border-right: 0px;
	text-align: center;
}

#short_cart {
	flex-direction: row;
	justify-content: start;
	align-items: baseline;
	position: sticky; bottom: 0px; left: 0px;
	width: 100%;
	margin-top: -1px; padding: 20px;
	border-top: 1px solid #bbb;
	background: #fff;
}
#short_cart > div {
	flex-direction: row;
	justify-content: start;
	align-items: baseline;
}
#short_cart p {
	margin: 0px 10px 0px 0px;
}
#short_cart > div:not(:first-child) {
	margin-left: 20px;
}
#short_cart > div > *:not(:first-child) {
	margin-left: 10px;
}
#cart_summary button {
	padding: 5px 15px;
	font-size: 0.8em;
}
#cart_summary button.hidden {
	opacity: 0;
}

#cart {
	width: 100%;
	border-top: 1px solid #ddd;
}
#cart h2 {
	text-align: center;
}
#cart .delimeter {
	height: 0px; width: calc(100% - 40px);
	margin-left: 20px;
	border-bottom: 1px solid #eee;
}
#cart .delimeter:last-child {
	border-bottom: 0px;
}
#cart .item {
	flex-direction: row;
	align-items: center;
	margin: 0px; padding: 20px;
}
#cart .item.lighted {
	background: #f5f5f5;
}
#cart .item > * {
	padding: 0px 5px;
}
#cart .item .name {
	width: 250px;
}
#cart .item .number {
	flex-direction: row;
	align-items: baseline;
	width: 150px;
}
#cart .item .number input {
	width: 70px;
	margin: 0px 5px; padding: 5px 10px;
	text-align: right;
}
#cart .item .price {
	width: 100px;
	text-align: right;
}
#cart .item .remove {
	flex: 1;
	align-items: flex-end;
	cursor: pointer;
}
#cart .accept {
	align-items: center;
	width: 100%;
	padding: 20px;
}
#cart .accept button {
	width: 200px;
	font-size: 1.3em;
}

/* Mobiles */

@media(max-width: 768px) {
	#container {
		width: 100%;
	}
}
@media(max-width: 425px) {
	body {
		font-size: 18px;
	}

	#menu .item .add_to_cart button:first-child:not(:only-child):not(.fake) {
		font-size: 16px;
	}

	#short_cart {
		flex-direction: column;
	}
	#short_cart > div:not(:first-child) {
		margin-left: 0px;
	}

	#cart .item .name {
		width: 140px;
	}
	#cart .item .number {
		width: 100px;
	}
	#cart .item .number input {
		width: 50px;
	}
	#cart .item .price {
		width: 90px;
	}
	#cart .item .remove {
		flex: initial;
		width: min-content;
		padding: 0px;
	}
	#cart .item .remove button {
		padding: 10px 15px;
	}
}
@media(max-width: 375px) {
	body {
		font-size: 16px;
	}

	#menu .item .description p {
		border-radius: 0px;
	}

	#menu .item .add_to_cart button {
		padding-left: 15px; padding-right: 15px;
	}

	#cart .item .name {
		width: 130px;
	}
	#cart .item .number {
		width: 90px;
	}
	#cart .item .number input {
		width: 40px;
	}
	#cart .item .price {
		width: 80px;
	}
}
@media(max-width: 320px) {
	body {
		font-size: 14px;
	}

	#menu .item .add_to_cart {
		flex-wrap: wrap;
		justify-content: center;
	}
	#menu .item .add_to_cart button {
		padding-left: 25px; padding-right: 25px;
	}
	#menu .item .add_to_cart button:first-child {
		width: 100%;
	}
	#menu .item .add_to_cart button:not(:first-child) {
		border-color: #ddd; border-top: 0px;
		background: transparent; color: #222;
	}
	#menu .item .add_to_cart button:not(:first-child):focus {
		background: #00000008;
	}
	#menu .item .add_to_cart button.fake {
		border-right: 1px solid #ddd;
		border-bottom: 0px;
	}
	#menu .item .add_to_cart input {
		flex: 1;
		min-width: 50px; width: unset;
		border-top: 0px;
	}

	#cart .item .name {
		width: 100px;
	}
	#cart .item .number {
		width: 80px;
	}
	#cart .item .number input {
		width: 40px;
	}
	#cart .item .price {
		width: 70px;
	}
}
